version: "3"

services:
  get-token:
    build: get-token
    depends_on:
      - web

  web:
    build:
      context: web
      args:
        MISSKEY_IMAGE: ${MISSKEY_IMAGE:?}
        MISSKEY_ID: ${MISSKEY_ID:?}
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"

  redis:
    restart: always
    image: redis:7-alpine

  db:
    restart: always
    image: postgres:15-alpine
    environment:
      - POSTGRES_PASSWORD=misskey-test
      - POSTGRES_USER=misskey-test
      - POSTGRES_DB=misskey
